body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #e5e7e6; /* Couleur de fond */
    color: #333; /* Texte en couleur foncée pour un bon contraste */
}

/* En-tête */
header {
    background-color: rgba(218, 171, 58, 0.8); /* Jaune doré avec transparence (0.8) */
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Assure-toi que le header reste au-dessus du contenu */
    backdrop-filter: blur(10px); /* Optionnel : Ajoute un effet de flou si tu veux */
    transition: background-color 0.3s ease; /* Pour ajouter une transition lors du défilement si nécessaire */
}

/* Ajuste le conteneur du header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

/* Style pour les liens du header */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}

/* L'élément de soulignement (invisible au départ) */
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #EEE6D8;
    transition: width 0.3s ease;
}

/* Soulignement visible au hover */
nav ul li a:hover::after {
    width: 100%;
}

/* Lorsque le header devient opaque au scroll (optionnel) */
.header-scroll {
    background-color: rgba(218, 171, 58, 1); /* Jaune doré sans transparence */
}


main {
    padding: 40px 20px;
}

main .container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background: #EEE6D8; /* Beige clair */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

h2 {
    margin-top: 0;
    color: #B67332; /* Marron clair */
}

.year-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.year-box {
    flex: 1;
    background: #e5e7e6; /* Fond gris clair */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.year-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.year-box h3 {
    margin-top: 0;
    color: #B67332; /* Marron clair */
}

.year-box p {
    margin: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #DAAB3A; /* Jaune doré */
    color: #fff;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
